.toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 40px;
  box-shadow: -20px 17px 0 -17px #eee, 20px -17px 0 -17px #eee,
    20px 20px 0 -20px black, 0 0 0 2px black;
  padding: 17px;
}

.toolbar_bot {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toolbar_top {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 25px;
  height: 25px;
}

.svg {
  transition: 0.2s;
}
.svg:hover {
  fill: #969494;
  cursor: pointer;
}
.activeSvg {
  fill: #969494;
}
